.display-flex-lg {
  display: flex;
}

.display-none-lg {
  display: none;
}

.display-block-lg {
  display: block;
}

.flex-d-row-lg {
  flex-direction: row;
}

.modal-button-div {
  justify-content: center;
}

.modal-container-button {
  margin: 8px 14px;
  width: 96px;
  padding: 8px;
}

.modal-container {
  margin: 14px;
}

.recent-work-demo-modal {
  height: 323px;
}

.justify-content-lg {
  justify-content: space-between;
  align-items: center;
}

.margin-0auto-lg {
  margin: 0 auto;
}

.nav-bar {
  flex-direction: row;
}

.navigation-link {
  width: 50%;
}

.nav-ul {
  height: auto;
  padding: 8px 16px;
  flex-direction: row;
  width: 50%;
}

.nav-ul-li {
  margin: 0 8px;
}

.main-page {
  width: 100%;
}

.about-me-section,
.specialization-section {
  width: 46%;
  margin: 34px auto;
}

.about-me-paragraph {
  margin: 34px;
}

.specialization-list {
  flex-wrap: nowrap;
}

.social-media-div {
  width: 80%;
}

.width-100-percent-lg {
  width: 100%;
}

.circle-ellipse {
  height: 184px;
  width: 184px;
  left: 69px;
  top: 98px;
  border-radius: 0;
}

.circle-ellipse-2 {
  height: 216px;
  width: 226px;
  right: 69px;
  top: 263px;
}

.ellipse-27-lg {
  height: 402px;
  width: 159px;
  top: 1531.743103px;
  right: 0;
}

.ellipse-20 {
  top: 751px;
  width: 372px;
}

.ellipse-21-lg {
  height: 202px;
  width: 338px;
  left: -151px;
  top: 1975px;
}

.ellipse-23 {
  width: 156.293323px;
  top: 2193px;
  right: 0;
}

.my-recent-work {
  grid-template-columns: repeat(2, 50%);
}

.recent-work-demo-wrapper,
.recent-work-article {
  width: 50%;
  margin: 0 8px;
}

.recent-work-demo-wrapper {
  height: 421px;
}

.recent-work-demo {
  height: 356px;
}

.recent-work-div {
  flex-direction: row;
  margin: 16px 0;
}

.recent-work-ul {
  justify-content: start;
}

.recent-work-ul-li {
  margin: 16px;
  padding-right: 8px;
}

.contact-me-section {
  width: 60%;
}

.last-name {
  margin-left: 8px;
}

.first-name {
  margin-right: 8px;
}

.first-name::placeholder {
  color: #191765;
  font-weight: bold;
}

.see-project-button-form {
  width: 128px;
}

.will-reverse {
  flex-direction: row-reverse;
}
